.container{
    height: 100vh;
    background-color: #F5F7FA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.container h1{
    font-size: 60px;
    font-weight: bold;
    width: 40%;
}
.container div{
    /* color: #4D4D4D; */
}
.container span{
    color: #4CAF4F;
}
.container img{
    max-width: 33%;
    /* height: 500px; */
    margin: 2rem;
}

.article{
    color: #4D4D4D;
    font-size: 30px;
    padding: 10px 120px;
    font-weight: 500;
}
.article p{
    padding-bottom: 50px;
}

