/* Styling for the task list item */
.item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 8px;
    font-size: 30px;
    color: #263238;
    background-color: white ;
}

.item li{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.checkbox {
    border-radius: 30px;
    margin-right: 15px;
    font-size: 30px;
}

.text {
    flex-grow: 1;
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.priority {
    font-size: 22px;
    font-weight: 700;
    color: #e74c3c;
    margin-right: 15px;
}

.date {
    font-size: 22px;
    font-weight: 700;
    color: #7f8c8d;
}

.completed .text{
    text-decoration: line-through;
    color: #7f8c8d;
}

.listButton{
    background-color: white;
    color: white;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.listButton:hover {
    background-color: white;
}